.box
{
    background-color: #F97F51;
    color:white;
    text-align:center;
   

    

}

.title1
{
    text-decoration: none;
    color:white;
    font-size:30px;
    font-weight: bold;
}


.button
{
   
    color:white;
    font-size: 25px;
    
   
}


.button:hover {

    border:1px solid white;
  
   
    
  }

.icon
{
    color:white;
    font-size: 29px;
    margin-right:8px;
}


.link
{
    text-decoration: none;
    color:white;
}

.title_service
{
    font-size:25px;
}


.title_service:hover
{
    border:1px solid white;
    border-radius: 10px;
}

