.title
{
    font-weight: bold;
    font-size:20px;
}

.label
{
    font-size:17px;
    margin-left:10px;
}

.span
{
    color:red;
    font-size: 17px;
}

.select
{
    width:100%;
    padding:10px;
  
}

.input
{
    width:100%;
    padding:10px;

}

.submit
{
    background-color:#F97F51;
    color:white;
    border:none;
    font-size:20px;
}